body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1;
  padding: 10px;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  /* border-left: 1px solid black; */
  padding: 12px;
}

.jumbotron {
  text-align: center;
  background-color: rgb(132, 158, 93);
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description{
  white-space: pre-wrap;
}

.time-block{
  background-color: lightblue;
  text-align: center;
  border-radius: 15px;
  padding-top: 35px;
  padding-left: auto;
  border: 2px solid black;
}

.inputBoxHr {
  margin: auto;
  border: 1px solid black;
  border-radius: 8px;
}
.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: rgb(180, 176, 176);
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.saveBtn {
  /* border-left: 1px solid black; */
  border-radius: 8px;
  background-color: rgb(54, 213, 6);
  color: white;
}

.clearAll {
  /* border-left: 1px solid black; */
  border-radius: 8px;
  margin-left: 15px;
  color: white;
}
.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}
/*Mobile Styling*/
@media (max-width: 500px) {
  .btn {
    font-size: 0.8rem;
  }
}

@media (max-width: 650px) {
  .display-3 {
    font-size: 2.5rem;
    font-weight: 200;
    line-height: 1.2;
  }

  .description{
    float: right;
    max-width: 60%;
  }
  
  .time-block{
    float:right;
  }

  .hour {
    min-width: 20%;
  }

  .saveBtn {
    float: right;
    min-width: 20%;
  }

} 